@import "bootstrap";

/* Set a background image by replacing the URL below */
body {
  background: url('/sexy.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.home-page-image {
  width: 100%;
  height: 100%
}
